fastapi==0.110.0
uvicorn[standard]==0.29.0
numpy==1.26.4
opencv-python==4.9.0.80
mediapipe==0.10.9
insightface==0.7.3
scipy==1.13.0  # Necesario para algunas funciones de InsightFace
onnxruntime==1.18.0
